[data-page="_global_menu"][data-itemid="welcome_item4"] > .bs-welcome-header {
  background-color: #3cb371;
}
[data-page="_global_menu"][data-itemid="welcome_item6"] > .bs-welcome-header {
  background-color: #edca00;
}
[data-page="_global_menu"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


