<!doctype html>
<html  {$html_attrs}>
	<head>
						<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		{BEGIN styleCSSFiles}
<link REL="stylesheet" href="{$stylepath}" type="text/css">
{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel phase_catalog add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN phase_code_fieldblock}
	<div class="r-edit-label" data-signal-error-for="phase_code{$id}" data-itemtype="edit_field_label" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="phase_code" data-fieldname="phase_code" {$required_attr_phase_code}>
		<label class="r-edit-label control-label {$phase_code_label_class}" for="{$labelfor_phase_code}">
			{BEGIN phase_code_label}
				{$phase_code_forward_control}
				{$label phase_catalog phase_code }			{END phase_code_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END phase_code_fieldblock}
	
								</td>
			{END cellblock_grid_c4}
			 
																

{BEGIN cellblock_grid_c2}
<td
	{$cell_grid_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c2" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN phase_code_fieldblock}
	<div class="r-edit-field" data-signal-error-for="phase_code{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="phase_code" data-fieldname="phase_code" {$required_attr_phase_code}>
		{$phase_code_editcontrol}	</div>
{END phase_code_fieldblock}
	
								</td>
			{END cellblock_grid_c2}
			 
																

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN phase_code_fieldblock}
	<div class="r-edit-tooltip" data-signal-error-for="phase_code{$id}" data-itemtype="edit_field_tooltip" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="phase_code" data-fieldname="phase_code" >
		<div data-helpfor="phase_code" {$tooltipAttr phase_catalog phase_code } >
			<div class="text-muted">{$tooltip phase_catalog phase_code }</div>
		</div>
	</div>
{END phase_code_fieldblock}
	
								</td>
			{END cellblock_grid_c}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN phase_name_fieldblock}
	<div class="r-edit-label" data-signal-error-for="phase_name{$id}" data-itemtype="edit_field_label" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="phase_name" data-fieldname="phase_name" {$required_attr_phase_name}>
		<label class="r-edit-label control-label {$phase_name_label_class}" for="{$labelfor_phase_name}">
			{BEGIN phase_name_label}
				{$phase_name_forward_control}
				{$label phase_catalog phase_name }			{END phase_name_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END phase_name_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
			 
																

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN phase_name_fieldblock}
	<div class="r-edit-field" data-signal-error-for="phase_name{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="phase_name" data-fieldname="phase_name" {$required_attr_phase_name}>
		{$phase_name_editcontrol}	</div>
{END phase_name_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
																

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN phase_name_fieldblock}
	<div class="r-edit-tooltip" data-signal-error-for="phase_name{$id}" data-itemtype="edit_field_tooltip" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="phase_name" data-fieldname="phase_name" >
		<div data-helpfor="phase_name" {$tooltipAttr phase_catalog phase_name } >
			<div class="text-muted">{$tooltip phase_catalog phase_name }</div>
		</div>
	</div>
{END phase_name_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c10}
<td
	{$cell_grid_c10}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c10" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN default_long_duration_fieldblock}
	<div class="r-edit-label" data-signal-error-for="default_long_duration{$id}" data-itemtype="edit_field_label" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="default_long_duration" data-fieldname="default_long_duration" {$required_attr_default_long_duration}>
		<label class="r-edit-label control-label {$default_long_duration_label_class}" for="{$labelfor_default_long_duration}">
			{BEGIN default_long_duration_label}
				{$default_long_duration_forward_control}
				{$label phase_catalog default_long_duration }			{END default_long_duration_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END default_long_duration_fieldblock}
	
								</td>
			{END cellblock_grid_c10}
			 
																

{BEGIN cellblock_grid_c11}
<td
	{$cell_grid_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c11" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN default_long_duration_fieldblock}
	<div class="r-edit-field" data-signal-error-for="default_long_duration{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="default_long_duration" data-fieldname="default_long_duration" {$required_attr_default_long_duration}>
		{$default_long_duration_editcontrol}	</div>
{END default_long_duration_fieldblock}
	
								</td>
			{END cellblock_grid_c11}
			 
																

{BEGIN cellblock_grid_c12}
<td
	{$cell_grid_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c12" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN default_long_duration_fieldblock}
	<div class="r-edit-tooltip" data-signal-error-for="default_long_duration{$id}" data-itemtype="edit_field_tooltip" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="default_long_duration" data-fieldname="default_long_duration" >
		<div data-helpfor="default_long_duration" {$tooltipAttr phase_catalog default_long_duration } >
			<div class="text-muted">{$tooltip phase_catalog default_long_duration }</div>
		</div>
	</div>
{END default_long_duration_fieldblock}
	
								</td>
			{END cellblock_grid_c12}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c13}
<td
	{$cell_grid_c13}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c13" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN sequence_fieldblock}
	<div class="r-edit-label" data-signal-error-for="sequence{$id}" data-itemtype="edit_field_label" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="sequence" data-fieldname="sequence" {$required_attr_sequence}>
		<label class="r-edit-label control-label {$sequence_label_class}" for="{$labelfor_sequence}">
			{BEGIN sequence_label}
				{$sequence_forward_control}
				{$label phase_catalog sequence }			{END sequence_label}
			<span class="icon-required"></span>
		</label>
	</div>
{END sequence_fieldblock}
	
								</td>
			{END cellblock_grid_c13}
			 
																

{BEGIN cellblock_grid_c14}
<td
	{$cell_grid_c14}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c14" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN sequence_fieldblock}
	<div class="r-edit-field" data-signal-error-for="sequence{$id}" data-itemtype="edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="sequence" data-fieldname="sequence" {$required_attr_sequence}>
		{$sequence_editcontrol}	</div>
{END sequence_fieldblock}
	
								</td>
			{END cellblock_grid_c14}
			 
																

{BEGIN cellblock_grid_c15}
<td
	{$cell_grid_c15}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c15" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN sequence_fieldblock}
	<div class="r-edit-tooltip" data-signal-error-for="sequence{$id}" data-itemtype="edit_field_tooltip" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="sequence" data-fieldname="sequence" >
		<div data-helpfor="sequence" {$tooltipAttr phase_catalog sequence } >
			<div class="text-muted">{$tooltip phase_catalog sequence }</div>
		</div>
	</div>
{END sequence_fieldblock}
	
								</td>
			{END cellblock_grid_c15}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
	 
		{BEGIN reset_button}
<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							{mlang_message RESET}			</a>
</span>
{END reset_button}
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
